body{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
}

#hero{
    background-image: url("images/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%) !important;
    color: #fff !important;
    padding: 2% 6%;
}

.navbar img{
    width: 15%;
}

h1,h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600 !important;
    padding-top: 7%;
    line-height: 1.5;
}

.title{
    padding: 4% 0 5%;
}

.title-image img{
    width: 100%;
}


button{
    border-radius: 50px !important;
    padding: 2% 10%;
    border: none;
    color: hsl(257, 40%, 49%);
    margin-top: 3% !important;
    font-family: 'Poppins', sans-serif !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

button:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    border: none;
}


/* Features section */
#features{
    font-weight: 600;
}
.feature-box{
    margin: 5% 5% 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.feature-image{
    width: 100%;
    padding: 5%;
}

.feature-title-left{
    padding: 15% 10% 2% 15%;
}

.feature-title-right{
    padding: 15%;
}

.feature-head-right{
    margin: auto 15% auto 15%;
}

.feature-write-right{
    margin-left: 15%;
}

/* cta section*/

.cta-box{
    margin: 8% 20% 8%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 4%;
}

#contact{
    background-color:  hsl(192, 100%, 9%);
}
/* footer */
.attribution{
    margin-top: 8%;
}





@media (max-width: 762px) {
    
    .navbar img{
        width: 40%;
    }

    .title{
        padding: 10% 0 5%;
        text-align: center;
    }

    .title-write{
        padding-top: 8%;
    }

    .title-write p{
        padding-top: 3%;
    }

    button{
        padding: 2% 18%;
        margin-bottom: 7%;
    }
}
